aiodns==4.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
akshare==1.18.42
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.10.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==26.1.0
Automat==25.4.16
backtrader==1.9.78.123
beautifulsoup4==4.14.3
billiard==4.2.0
blinker==1.9.0
bottle==0.13.4
brotlicffi==1.2.0.1
bs4==0.0.2
build==1.4.0
candlelite==1.0.17
ccxt==4.5.44
celery==5.3.6
celery-types==0.23.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
choreographer==1.2.1
clear==2.0.0
click==8.3.1
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coincurve==21.0.0
colorama==0.4.6
colorlog==6.10.1
constantly==23.10.4
contourpy==1.3.3
coverage==7.6.1
cron_descriptor==2.0.6
cryptography==46.0.5
curl_cffi==0.14.0
cycler==0.12.1
deap==1.4.3
decorator==5.2.1
Django==5.2.13
django-celery-beat==2.8.1
django-crontab==0.7.1
django-timezone==0.3
django-timezone-field==7.1
djangorestframework==3.16.1
dt==1.2.1
ecdsa==0.19.1
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.135.1
fastjsonschema==2.21.2
filelock==3.20.3
Flask==3.1.2
fonttools==4.60.2
frozendict==2.4.7
frozenlist==1.8.0
futu==0.0.1
futu_api==9.4.5408
graphql-core==3.2.7
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
importlib_metadata==9.0.0
incremental==24.7.2
iniconfig==2.0.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
Jinja2==3.1.6
jsonpath==0.82.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
kaleido==1.2.0
keyring==25.6.0
kiwisolver==1.4.9
kombu==5.4.0
lightweight-charts==2.1
llvmlite==0.45.1
logger==1.4
logistro==2.0.1
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
mini-racer==0.14.1
more-itertools==10.8.0
mplcursors==0.7
multidict==6.7.1
multitasking==0.0.12
narwhals==2.18.0
nbformat==5.10.4
nest-asyncio==1.6.0
numba==0.62.1
numpy==2.2.6
okx==2.1.2
okx-api==1.0.5
openpyxl==3.1.5
orjson==3.11.5
packaging==26.0
pandas==2.3.3
pandas-stubs==2.3.0.250703
parso==0.8.5
passlib==1.7.4
paux==1.0.14
pd==0.0.4
peewee==4.0.2
pendulum==3.1.0
pexpect==4.9.0
pi==0.1.2
pillow==12.0.0
platformdirs==4.9.4
plotly==6.5.2
pluggy==1.5.0
polars==1.38.1
polars-runtime-32==1.38.1
polib==1.2.0
prompt_toolkit==3.0.47
propcache==0.4.1
protobuf==3.20.3
proxy_tools==0.1.0
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.3
pybind11 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8bcvkm1bzo/croot/pybind11-split_1738944801850/work
pybind11_global @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8bcvkm1bzo/croot/pybind11-split_1738944801850/work
pycares==5.0.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
PyJWT==2.10.1
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-Security==12.1
pyobjc-framework-UniformTypeIdentifiers==12.1
pyobjc-framework-WebKit==12.1
pyOpenSSL==25.3.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
pyqtgraph==0.14.0
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
PySocks==1.7.1
pytest==9.0.1
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-timeout==2.4.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
python-okx==0.4.0
python-socks==2.7.3
pytz==2026.1.post1
pywebview==6.1
PyYAML==6.0.3
pyzmq==27.1.0
QDarkStyle==3.2.3
QtPy==2.4.3
QuantStats==0.0.77
redis==7.0.1
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rpds-py==0.30.0
rsa==4.9.1
scipy==1.17.1
seaborn==0.13.2
setuptools==82.0.1
sgqlc==17.1
shiboken6==6.8.2.1
shinny-structlog==0.0.4
simplejson==3.20.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.52.1
TA-Lib==0.6.8
tabulate==0.10.0
tomli==2.4.0
tqdm==4.67.3
tqsdk==3.9.0
tqsdk-ctpse==1.0.2
tqsdk-sm==1.0.5
traitlets==5.14.3
tushare==1.4.25
Twisted==25.5.0
types-pytz==2025.2.0.20251108
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.42.0
uvloop==0.22.1
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.5
wheel==0.46.3
whitenoise==6.11.0
xlrd==2.0.2
yarl==1.23.0
yfinance==0.2.66
zipp==3.23.0
zope.interface==8.1
